<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="OfflinePageFileName" value="~/OfflinePage.html"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpHandlers>
      <clear/>
      <add verb="GET" path="*.css" type="OfflineWebsite.Infrastructure.BypassHandler, OfflineWebsite"/>
      <add verb="GET" path="*.jpg" type="OfflineWebsite.Infrastructure.BypassHandler, OfflineWebsite"/>
      <add verb="GET" path="*.png" type="OfflineWebsite.Infrastructure.BypassHandler, OfflineWebsite"/>
      <add verb="GET" path="*.gif" type="OfflineWebsite.Infrastructure.BypassHandler, OfflineWebsite"/>
      <add verb="GET" path="*.js" type="OfflineWebsite.Infrastructure.BypassHandler, OfflineWebsite"/>
      <add verb="*" path="*" type="OfflineWebsite.Infrastructure.WebsiteOfflineHandler, OfflineWebsite, Version=1.0.0.0, Culture=neutral"/>
    </httpHandlers>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <clear/>
      <add name="BypassHandlerCSS" verb="GET" path="*.css" type="OfflineWebsite.Infrastructure.BypassHandler, OfflineWebsite"/>
      <add name="BypassHandlerJPG" verb="GET" path="*.jpg" type="OfflineWebsite.Infrastructure.BypassHandler, OfflineWebsite"/>
      <add name="BypassHandlerPNG" verb="GET" path="*.png" type="OfflineWebsite.Infrastructure.BypassHandler, OfflineWebsite"/>
      <add name="BypassHandlerGIF" verb="GET" path="*.gif" type="OfflineWebsite.Infrastructure.BypassHandler, OfflineWebsite"/>
      <add name="BypassHandlerJS" verb="GET" path="*.js" type="OfflineWebsite.Infrastructure.BypassHandler, OfflineWebsite"/>
      <add name="CatchAllHandler" verb="*" path="*" type="OfflineWebsite.Infrastructure.WebsiteOfflineHandler, OfflineWebsite, Version=1.0.0.0, Culture=neutral"/>
    </handlers>
  </system.webServer>
</configuration>